@import url(fonts.min.css);
.switcher,
.toogleBtn {
    height: 50px;
    border-radius: 30px
}

.blocks,
.formLG .bigHeader,
.scr1Text .txt2,
.scr6Header h3,
.textBlok h3 {
    text-transform: uppercase
}

.sesiuneUL,
.smIcons,
.speakerList {
    list-style-type: none
}

.buttoncikLink,
.buttoncikLink:hover,
.linkCurat:hover,
.linkCurat:link,
.linkCurat:visited,
.telEmail a {
    text-decoration: none
}

body {
    color: #333;
    font-family: "Proxima Nova Regular", sans-serif
}

.blocks,
.switcher,
.toogleBtn {
    cursor: pointer
}

.toogleBtn320 {
    max-width: 240px!important
}

.switcher320 {
    max-width: 127px!important
}

.blocks320 {
    padding: 0 35px!important
}

.toogleBtn {
    background: #a73e76;
    max-width: 300px;
    margin: 25px auto
}

.dateTop,
.switcher {
    position: relative;
    max-width: 150px
}

.blocks {
    display: inline-block;
    line-height: 50px;
    padding: 0 50px;
    position: relative;
    z-index: 30;
    font-family: "Proxima Nova Bold", sans-serif;
    color: #fff;
    font-size: 16px
}

.liveBL {
    color: #a73e76
}

.switcher {
    top: -50px;
    left: 0;
    background: #d9e8ef;
    z-index: 10
}

.logo {
    display: block;
    float: left;
    width: 162px;
    height: 104px;
    padding-top: 20px
}

.telEmail {
    float: right;
    padding-top: 30px
}

.telEmail a {
    color: #333
}

.telEmail a p {
    font-family: "Helvetica Light", sans-serif
}

.telEmail .telefonu {
    font-size: 25.37px
}

.telEmail .mailu {
    font-size: 14.57px
}

.dateTop {
    display: block;
    top: -55px;
    border-radius: 90px;
    height: 150px;
    margin: 0 auto;
    padding-top: 34px;
    background: #333;
    box-shadow: 0 1px 3.32px .68px rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 18px;
    border: 5px solid #0fc;
}

.formLG,
.sesiuneUL li {
    box-shadow: 1px -1px 17px 0 rgba(0, 0, 0, .3)
}

.dateTop .cifraData {
    color: #0fc;
    font-size: 28px;
    font-family: "HelveticaNeueCyr Bold", sans-serif
}

.dateTop .luna {
    font-family: "HelveticaNeueCyr Medium", sans-serif
}

.bg1 {
    margin-top: 15px;
    background-image: url(../images/bg_1.jpg)
}

.scr1Text .txt1,
.scr1Text .txt3 {
    margin-top: 40px
}

.bg1Main {
    background-attachment: fixed
}

.scr1Text h1 {
    color: #0fc;
    font-family: "Proxima Nova Extrabold", sans-serif;
    letter-spacing: 1.4px
}

.scr1Text .txt1 {
    font-size: 37.5px
}

.scr1Text .txt2 {
    font-size: 67px
}

.scr1Text h4 {
    color: #fff;
    font-family: "Proxima Nova Regular", sans-serif
}

.scr1Text .txt4 {
    margin-bottom: 250px
}

.scr2 {
    padding-bottom: 70px
}

.scr3,
.scr5 {
    padding-bottom: 50px
}

.costumButtoncik2 {
    margin: 0 auto!important
}

.scr2SepLine {
    margin: 80px auto 30px
}

.scr2Head p {
    color: #333;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 30px
}

.photoText,
.tabsRow p {
    font-size: 18px
}

.tabsRow {
    margin-top: 40px;
    padding-left: 70px
}

.scr2TabsImg1 {
    padding-top: 46px
}

.scr2TabsImg3 {
    padding-top: 36px
}

.tabsRow p {
    max-width: 220px;
    margin: 30px auto 0;
    font-family: "Proxima Nova Regular", sans-serif
}

.tabsRow {
    margin-bottom: 70px
}

.scr3Shadow {
    background-image: url(../images/scr3Shadow.png);
    height: 50px
}

.scr3SepLine {
    margin: 20px auto
}

.scr3Head h2 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    margin-bottom: 50px
}

.photoText1 {
    display: inline-block;
    padding-top: 100px;
    padding-left: 33px;
    max-width: 300px
}

.photoText2 {
    text-align: right;
    padding-top: 120px
}

.photoText3 {
    display: inline-block;
    max-width: 333px;
    padding-top: 99px;
    padding-left: 40px
}

.xsPhotoTextRow {
    display: none
}

.fotceRow img {
    display: inline
}

.xsPhotoText {
    font-size: 27px;
    margin-bottom: 50px
}

.scr4 {
    background: #333
}

.scr4Header h2 {
    font-family: "Proxima Nova Semibold", sans-serif;
    color: #fff
}

.scr4CardRow {
    margin-top: 50px
}

.scr4Card p {
    margin-top: 30px;
    color: #fff;
    font-size: 18.45px
}

.buttoncik,
.costumButtoncik {
    border-radius: 30px;
    color: #000;
    display: block;
    max-width: 360px;
    font-size: 21px;
    line-height: 60px
}

.buttoncik {
    background: #0fc;
    margin: 30px auto
}

.costumButtoncik {
    background: #01d2aa;
    margin: 30px auto 0
}

.buttoncikLinkSM {
    display: none
}

.pfiVideos {
    margin-top: -18px
}

.pfiVideos iframe {
    margin-bottom: 30px;
    display: block;
    margin-left: 0;
    margin-right: auto
}

.pfiTextCol {
    padding-left: 60px;
    margin-top: -37px
}

.MDschemeRow .pfiText {
    margin: 0
}

.textBlock {
    margin-bottom: 55px
}

.schemeRow {
    margin-top: 50px
}

.pfiTitles {
    color: #0cc;
    font-family: "Proxima Nova Bold", sans-serif
}

.SMschemeRow .header1,
.SMschemeRow .header2 {
    font-family: "Proxima Nova Semibold", sans-serif
}

.pfiText {
    color: #fff
}

.MDschemeRow {
    margin-top: 100px;
    margin-bottom: 60px
}

.SMschemeRow {
    display: none;
    margin-top: 60px;
    margin-bottom: 60px
}

.SMschemeRow .header1 {
    color: #0fc
}

.SMschemeRow .header2 {
    color: #fff
}

.kartinka img {
    display: block;
    margin: 0 auto
}

.SMtextBlock .pfiTitles {
    margin-bottom: 30px
}

.SMpfiCol {
    padding-top: 112px
}

.SMtextBlock {
    margin-top: 30px;
    min-height: 150px
}

.scr5HeaderRow {
    margin-top: 60px
}

.header1Scr5 {
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 56px;
    line-height: 61.3px
}

.header2Scr5 {
    font-family: "Proxima Nova Semibold", sans-serif;
    border-left: 10px solid #0c9;
    border-right: 10px solid #0c9;
    font-size: 32px;
    padding: 10px 29px
}

.scr5Headers,
.tipaHeaderCol h1 {
    font-family: "Proxima Nova Bold", sans-serif;
    background: #999;
    position: relative
}

.header3Scr5 {
    font-size: 19px;
    padding-top: 25px
}

.tipaHeaderCol h1 {
    font-size: 37px
}

.scr5Headers {
    padding: 10px 36px
}

.container1,
.container1 .row .col-md-5 {
    padding-right: 0;
    padding-left: 0
}

.scr5Head1 {
    border-radius: 0 30px 30px 0
}

.scr5Head2 {
    border-radius: 30px 0 0 30px
}

.container1 {
    width: 100%;
    margin-top: 50px
}

.container1 .row {
    margin-right: 0;
    margin-left: 0
}

.sesiuneUL {
    padding-left: 0
}

.sesiuneUL li h4 {
    font-family: "Calibri Bold", sans-serif;
    font-size: 19px;
    color: #066
}

.sesiuneUL li p {
    color: #fff;
    font-size: 15px
}

.sesiuneUL li {
    padding: 2px 15px;
    min-height: 82px
}

.lectii {
    margin-top: 75px
}

.respHdLectii {
    display: none;
    font-family: "Proxima Nova Bold", sans-serif;
    max-width: 400px;
    margin: 0 auto 80px;
    border-radius: 30px;
    background: #999;
    padding: 9px 0
}

.formLG .bigHeader,
.formLG .miniHeader,
.optHeader {
    font-family: 'Proxima Nova Bold', sans-serif
}

.practica1,
.teorie1 {
    background: #499bea;
    background: -moz-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0, rgba(102, 153, 204, 1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73, 155, 234, 1) 0, rgba(102, 153, 204, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(73, 155, 234, 1) 0, rgba(102, 153, 204, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#6699cc', GradientType=1)
}

.practica2,
.teorie2 {
    background: #3c9;
    background: -moz-radial-gradient(center, ellipse cover, #3c9 0, #3c9 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #3c9 0, #3c9 100%);
    background: radial-gradient(ellipse at center, #3c9 0, #3c9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33cc99', endColorstr='#33cc99', GradientType=1)
}

.practica10,
.practica3,
.teorie3 {
    background: #399;
    background: -moz-radial-gradient(center, ellipse cover, #399 0, #399 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #399 0, #399 100%);
    background: radial-gradient(ellipse at center, #399 0, #399 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#339999', endColorstr='#339999', GradientType=1)
}

.practica11,
.practica13,
.practica4,
.teorie4 {
    background: #396;
    background: -moz-radial-gradient(center, ellipse cover, #396 0, #396 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #396 0, #396 100%);
    background: radial-gradient(ellipse at center, #396 0, #396 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#339966', endColorstr='#339966', GradientType=1)
}

.practica12,
.practica5 {
    background: #366;
    background: -moz-radial-gradient(center, ellipse cover, #366 0, #366 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #366 0, #366 100%);
    background: radial-gradient(ellipse at center, #366 0, #366 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#336666', endColorstr='#336666', GradientType=1)
}

.practica6 {
    background: #396;
    background: -moz-radial-gradient(center, ellipse cover, #396 0, #396 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #396 0, #396 100%);
    background: radial-gradient(ellipse at center, #396 0, #396 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#339966', endColorstr='#339966', GradientType=1)
}

.practica14,
.practica7 {
    background: #066;
    background: -moz-radial-gradient(center, ellipse cover, #066 0, #066 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #066 0, #066 100%);
    background: radial-gradient(ellipse at center, #066 0, #066 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#006666', GradientType=1)
}

.practica8 {
    background: #69c;
    background: -moz-radial-gradient(center, ellipse cover, #69c 0, #69c 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #69c 0, #69c 100%);
    background: radial-gradient(ellipse at center, #69c 0, #69c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#6699cc', endColorstr='#6699cc', GradientType=1)
}

.practica15,
.practica9 {
    background: #3c9;
    background: -moz-radial-gradient(center, ellipse cover, #3c9 0, #3c9 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #3c9 0, #3c9 100%);
    background: radial-gradient(ellipse at center, #3c9 0, #3c9 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#33cc99', endColorstr='#33cc99', GradientType=1)
}

.butonka,
.formbutt {
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#993366', endColorstr='#663366', GradientType=1)
}

.practica12 h4,
.practica14 h4,
.practica5 h4,
.practica7 h4 {
    color: #21cece!important
}

#formSM {
    display: none
}

.formLG {
    background: #3c9;
    max-width: 337px;
    border-radius: 160px;
    margin: 30px auto
}

.politicaConf {
    padding-left: 55px;
    margin-bottom: 35px
}

.formLG .bigHeader {
    color: #fff;
    max-width: 274px;
    text-align: center;
    margin: 0 auto;
    padding: 82px 0 20px
}

.bigHeader .spBigHeader {
    color: #000;
    background: #936
}

.formLG .miniHeader {
    color: #000;
    font-weight: 700;
    font-size: 23px;
    padding: 0 10px 20px
}

.inputurile {
    border-radius: 30px;
    max-width: 300px;
    border: 1px solid rgb(255, 255, 255, .7);
    margin: 0 auto;
    font-size: 16px;
    padding: 21px 12px;
    background: #3c9
}

.inputurile::placeholder {
    color: #fff;
    font-size: 16px;
    text-align: center;
    opacity: .57
}

.inputurile:-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    text-align: center;
    opacity: .57
}

.inputurile::-ms-input-placeholder {
    color: #fff;
    font-size: 16px;
    text-align: center;
    opacity: .57
}

.optHeader {
    color: #fff;
    font-size: 23px;
    font-weight: 700
}

.formbutt {
    background: #936;
    background: -moz-radial-gradient(center, ellipse cover, #936 0, #636 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #936 0, #636 100%);
    background: radial-gradient(ellipse at center, #936 0, #636 100%);
    border-radius: 40px;
    font-size: 21.45px;
    color: #fff;
    border: none;
    padding: 19px 39px
}

.online-life {
    margin: 40px 0;
    padding: 0 21px
}

.formbuttPr {
    padding-bottom: 110px
}

.butonka {
    padding: 10px 0;
    max-width: 270px;
    margin: 20px auto;
    background: #936;
    background: -moz-radial-gradient(center, ellipse cover, #936 0, #636 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #936 0, #636 100%);
    background: radial-gradient(ellipse at center, #936 0, #636 100%);
    border-radius: 40px
}

.scr6 {
    background-image: url(../images/scr6bg.jpg)
}

.scr6SepLine {
    margin: 80px auto 20px
}

.scr6Header h3 {
    font-family: "Proxima Nova Bold", sans-serif;
    color: #fff
}

.speakerList li {
    position: relative;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px
}

.speakerList li:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -18px;
    top: 6px;
    background: #fff;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px
}

.speakerName {
    color: #fff;
    font-family: "Proxima Nova Semibold", sans-serif;
    margin-bottom: 45px
}

.speakerRow {
    margin-top: 75px;
    margin-bottom: 50px
}

.scr7 {
    background-image: url(../images/scr7bg.jpg);
    padding-bottom: 75px
}

.scr7Header {
    border-right: 10px solid #0c9;
    font-family: "Proxima Nova Bold", sans-serif;
    padding-right: 25px;
    margin: 70px 140px 70px 0
}

.scr7CardsCol img {
    display: block;
    margin: 0 auto 50px
}

.scr7CardsCol p {
    font-size: 19px
}

.scr7CardsCol p span {
    font-style: italic;
    font-weight: 600;
    font-family: Montserrat, sans-serif
}

.textBlok h3,
h1.scr8Header {
    font-family: "Proxima Nova Bold", sans-serif
}

h1.scr8Header {
    margin: 67px 0 30px 47px;
    font-size: 43px;
    border-left: 10px solid #0c9;
    padding-left: 20px
}

.loloPr {
    background: #edf0f6;
    width: 111px;
    height: 156px;
    position: relative;
    z-index: 23
}

.loloPr:after,
.loloPr:before {
    content: '';
    position: absolute
}

.loloPr:before {
    width: 156px;
    height: 150px;
    top: 61px;
    left: -153px;
    background: #2260fb;
    transform: rotate(90deg) skewX(38deg);
    z-index: 45
}

.loloPr:after {
    width: 111px;
    height: 117px;
    top: 155px;
    left: -75px;
    background: #1d4fc7;
    transform: rotate(180deg) skewX(-52deg);
    z-index: 34
}

.textBlok,
.texter {
    display: block;
    position: relative
}

.loloPr img {
    margin: 0 auto;
    display: block;
    padding-top: 56px;
    z-index: 23
}

.textBlok {
    min-height: 152px;
    min-width: 520px;
    z-index: -23;
    top: -59px;
    left: -40px;
    padding: 4px 30px 5px 0;
    background: #123fac;
    background: -moz-linear-gradient(left, #123fac 0, #225ffb 100%);
    background: -webkit-linear-gradient(left, #123fac 0, #225ffb 100%);
    background: linear-gradient(to right, #123fac 0, #225ffb 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#123fac', endColorstr='#225ffb', GradientType=1)
}

.scr10,
.scr9 {
    padding-bottom: 50px
}

.textBlok h3 {
    color: #fff
}

.textBlok p {
    font-family: "Proxima Nova Light", sans-serif;
    color: #fff;
    padding-left: 176px
}

.scr8CardCol {
    z-index: 10
}

.scr8imgCol {
    z-index: -10;
    margin-left: -32px
}

.scr8CardCol3 .textBlok h3 {
    padding-left: 150px
}

.scr8CardCol3 .textBlok {
    top: -45px
}

.scr8CardCol2 .textBlok {
    top: -36px
}

.scr8CardCol1 {
    top: -28px
}

.scr8CardCol2,
.scr8CardCol3 {
    top: -50px
}

.scr8CardsRow {
    margin: 50px 0
}

.cupRow {
    margin: 40px 0 70px
}

.cupRow img {
    display: block;
    margin: 30px auto
}

.cupRow p {
    font-size: 20px;
    display: block;
    margin: 0 auto;
    max-width: 350px
}

.scr9 {
    background: url(../images/scr9bg.png) fixed
}

.scr9HeaderRow h2 {
    color: #0fc;
    font-family: Montserrat, sans-serif
}

.smTexter,
.texter {
    text-transform: uppercase;
    font-family: "Proxima Nova Black", sans-serif
}

.scr9VideoRow {
    margin: 70px 0
}

.puzzle1 {
    margin-left: -30px
}

.puzzle1 img,
.puzzle2 img {
    transform: scale(.9)
}

.puzzle1 img {
    float: left
}

.puzzle2 img {
    margin-top: 64px;
    float: right;
    position: relative;
    left: 20px;
}

.texter {
    color: #0cc;
    max-width: 300px;
    font-size: 47.45px;
    margin: -166px auto 0;
    z-index: 23;
    top: 386px;
    left: -25px
}

.texter .spancik1 {
    color: #336;
    font-size: 35.45px
}

.texter .spancik2 {
    font-size: 29.45px
}

.smPuzzleRow {
    display: none
}

.smTexter .spancik {
    color: #0cc
}

.smPuzzle img {
    display: block;
    margin: 0 auto
}

.footerBG {
    background: #c4c4c4
}

.footerAdrsCol2:before,
.smContantCol:before {
    content: '';
    position: absolute;
    width: 2px;
    background: #9c9c9c;
    height: 237px
}

.footerAdrsCol img {
    display: block;
    margin: 0 auto
}

.footerAdrsCol {
    padding: 50px 0 30px
}

.footerAdrsCol p {
    display: block;
    margin: 30px auto 0;
    color: #fff;
    font-size: 18.36px;
    font-family: "Proxima Nova Light", sans-serif
}

.footerAdrsCol1 p {
    max-width: 140px
}

.footerAdrsCol2 p {
    max-width: 173px
}

.smContantCol {
    display: block;
    padding: 30px 0
}

.smContantCol .footEmail,
.smContantCol .footTel {
    font-family: "Helvetica Light", sans-serif;
    color: #000;
    text-align: center
}

.smContantCol .footTel {
    font-size: 25.37px;
    margin: 20px 0 0
}

.smContantCol img,
.smIcons {
    display: block;
    margin: 0 auto
}

.smContantCol .footEmail {
    font-size: 14.57px
}

.followUS {
    font-family: "Helvetica Light", sans-serif;
    color: #fff;
    font-size: 23.84px
}

.smIcons {
    padding-left: 0;
    max-width: 160px
}

.smIcons li {
    display: inline-block
}

.smIcons .li2 {
    margin: 0 30px
}

.svg-inline--fa {
    font-size: 30px
}

.footerAdrsCol2:before {
    top: 30px
}

.smIcons li a svg {
    color: #333;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s
}

.fa-facebook-square:hover {
    color: #4267b2!important
}

.fa-youtube:hover {
    color: #fc0d1c!important
}

.fa-instagram:hover {
    color: #fff!important
}

.scsbg1 {
    padding-bottom: 150px
}

.background {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: block
}

.main-color {
    color: #333
}

.white-color {
    color: #fff
}

.smoothHoverColor {
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s
}

.buttonsToForm:hover {
    background-color: #df9e24;
    color: #fff
}

.smoothScale1-1:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1)
}

.smoothHoverAll {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.smoothHoverButtons {
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s
}

.hoverTelEmail:hover {
    color: #459686
}

.sepLineDefault {
    border: 1px solid #999;
    width: 90px;
    display: block
}